[submodule "mcpmappings/themes/hermit"]
	path = modmappings/themes/hermit
	url = https://github.com/Track3/hermit.git
[submodule "modmappings/themes/hugo-notepadium"]
	path = modmappings/themes/hugo-notepadium
	url = https://github.com/cntrump/hugo-notepadium.git
